<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DYNAMIC ACADEMIA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Inicio</a></li>
                <li><a href="./about-us.html">Sobre-Nós</a></li>
                <li><a href="./services.html">Serviços</a></li>
                <li><a href="./team.html">Nosso Time</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="./index.html">Inicio</a></li>
                            <li><a href="./sobre-nos.html">Sobre Nós</a></li>
                            <li><a href="./services.html">Serviços</a></li>
                            <li class="active"><a href="loja.html">Loja</a></li>
                                <ul class="dropdown">

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            <a href="https://www.facebook.com/Dynamic.Academia?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                            <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp"></i></a>
                            <a href="https://www.instagram.com/dynamic.marielle?igsh=aTh6Z2hsaTJzcmh "><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Nossos PRODUTOS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Início da seção de aulas -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nossos Produtos</span>
                        <h2>OQUE PODEMOS OFERERCER</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="produtos">
        <div class="produto">
            <img src="img/produtos/produto-1.png" alt="">
            <h3 class="h3l">Creatina</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>

        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-2.png" alt="">
            <h3 class="h3l">Whey Protein</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>
        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-3.png" alt="Hiper Calórico">
            <h3 class="h3l">Hiper Calórico</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>
        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-4.png" alt="Pré-Treino">
            <h3 class="h3l">Pré-Treino</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>        </div>
    

    </section>

    <section class="produtos">
        <div class="produto">
            <img src="img/produtos/produto-5.png" alt="camiseta">
            <h3 class="h3l">Camiseta</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-12.png" alt="">
            <h3 class="h3l">Whey Protein</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-12.png" alt="Hiper Calórico">
            <h3 class="h3l">Hiper Calórico</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>        </div>
    
        <div class="produto">
            <img src="img/produtos/produto-12.png" alt="Pré-Treino">
            <h3 class="h3l">Pré-Treino</h3>
            <p class="pl">Por R$ 80,99</p>
            <button class="comprar-btn" onclick="comprarProduto('https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0')">COMPRAR</button>        </div>

    </section>

    <script>
        function comprarProduto(numero) {
            window.location.href = numero;
        }
    </script>

<!-- Fim da Seção EscolhaUs -->

    <!-- Início da seção Entre em Contato -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Rua: Dom Carlos, Igaraçu Do Tietê/SP<br/> N:18</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Fim da seção Entre em contato -->

    <!-- Início da seção do rodapé -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p></p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>