@model string
@{
  ViewData["Title"] = "Acesso Negado";
  Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-header align-items-start min-vh-100"
  style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-danger shadow-warning border-radius-lg py-3 pe-1 text-center">
              <img src="~/img/acesso-restrito.png" class="w-25">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Acesso Negado</h4>
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="font-weight-normal text-justify p-2">Você não possui <b>permissão de acesso</b> ao recurso
              solicitado! Verifique sua solicitação, e caso necessário, entre em contato com o suporte técnico!</h5>
            <a type="button" class="btn btn-warning text-white mt-3 fs-5"
              asp-action="Index" asp-controller="Home">
              <i class="material-icons me-1">arrow_back_ios_new</i> Voltar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>