@model List<Aula>
@{
    ViewData["Title"] = "Início";
}

<!-- Início da seção do herói -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="../img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <h1> BEM VINDO A DYNAMIC <strong> ACADEMIA </strong> </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção do Herói -->

<!-- Início da seção escolhas -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span></span>
                    <h2>AUMENTE SEUS LIMITES</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Equipamentos modernos</h4>
                    <p>Dos pesos às máquinas, estamos aqui para ajudar você a atingir seus objetivos na academia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Plano de nutrição saudável</h4>
                    <p>Nutrir o corpo com alimentos nutritivos é um passo essencial para alcançar uma saúde ótima e sustentável.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Treinamento profissional</h4>
                    <p>Um plano de treinamento profissional é crucial para orientar o crescimento e aprimoramento de
                habilidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Exclusivo para você</h4>
                    <p>Nossa academia oferece um ambiente exclusivo e dedicado, projetado para atender às suas necessidades.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da seção escolhas -->

<!-- Início da seção de aulas -->
<section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nossas Aulas</span>
                        <h2>O QUE PODEMOS OFERERCER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var aula in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="class-item">
                            <div class="ci-pic">
                                <img src="@aula.Image" alt="">
                            </div>
                            <div class="ci-text">
                                <span>@aula.Name</span>
                                <h5>@aula.Description</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção Aulas -->

<!-- Início da seção do banner -->
<section class="banner-section set-bg" data-setbg="../img/banner-bg.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>INSCREVA-SE AGORA PARA OBTER OS SEUS RESULTADOS</h2>
                    <div class="bt-tips">Onde saúde, beleza e boa forma se encontram.</div>
                    <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" class="primary-btn  btn-normal">INSCREVER-SE</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da seção do banner -->