@{
    ViewData["Title"] = "Início";
}

<!-- Início da seção do herói -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="../img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <h1> BEM VINDO A DYNAMIC <strong> ACADEMIA </strong> </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção do Herói -->

<!-- Início da seção ChoseUs -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span></span>
                    <h2>AUMENTE SEUS LIMITES</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Equipamentos modernos</h4>
                    <p>Explore nossos equipamentos modernos para treinos eficientes.
                        Dos pesos às máquinas, estamos aqui para ajudar você a atingir seus objetivos na academia.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Plano de nutrição saudável</h4>
                    <p>Nutrir o corpo com alimentos nutritivos é um passo essencial para alcançar uma saúde ótima e sustentável.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Plano de treinamento profissional</h4>
                    <p>Um plano de treinamento profissional é crucial para orientar o crescimento e aprimoramento de
                habilidades, oferecendo direção e foco para alcançar objetivos de carreira com eficiência.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Exclusivo para suas necessidades</h4>
                    <p>Nossa academia oferece um ambiente exclusivo e dedicado, projetado para atender às suas necessidades individuais.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção EscolhaUs -->

<!-- Início da seção de aulas -->
<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Nossas Aulas</span>
                    <h2>OQUE PODEMOS OFERERCER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/img/classes/class-1.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>MUSCULAÇÃO</span>
                        <h5>LEVANTAMENTO DE PESOS</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/img/classes/class-2.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Funcional</span>
                        <h5>versatilidade físisca</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/img/classes/class-3.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>FITDANCE</span>
                        <h5>DANÇA fitness</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Fim da Seção EscolhaUs -->

<!-- Início da seção do banner -->
<section class="banner-section set-bg" data-setbg="../img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>INSCREVA-SE AGORA PARA OBTER OS SEUS RESULTADOS</h2>
                    <div class="bt-tips">Onde saúde, beleza e boa forma se encontram.</div>
                    <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" class="primary-btn  btn-normal">INSCREVER-SE</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da seção do banner -->

<!-- Início da seção de preços -->
<section class="pricing-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Nossos Planos</span>
                    <h2>Escolha seu plano de preços</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>Semana Inteira</h3>
                    <div class="pi-price">
                        <h2>R$ 80,00</h2>
                    </div>

                    <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" 
                    class="primary-btn pricing-btn">INSCREVA-SE AGORA</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>3X Na Semana</h3>
                    <div class="pi-price">
                        <h2>R$ 60,00</h2>
                    </div>
                        <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" 
                    class="primary-btn pricing-btn">INSCREVA-SE AGORA</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>Aula Avulsa</h3>
                    <div class="pi-price">
                        <h2>R$ 10.00</h2>
                        <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" 
                    class="primary-btn pricing-btn">INSCREVA-SE AGORA</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção de Preços -->

<!-- Início da seção da equipe -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>NOSSO TIME</span>
                        <h2>TREINE COM ESPECIALISTAS</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-4.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-5.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../img/team/team-6.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção da Equipe -->
