@{
    ViewData["Title"] = "Sobre Nós";
}

<!-- Início da seção Breadcrumb -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb-bg3.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Sobre Nós</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- Breadcrumb Section End -->

<!-- Início da seção escolhasUs -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span></span>
                    <h2>AUMENTE SEUS LIMITES</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Equipamentos modernos</h4>
                    <p>Dos pesos às máquinas, estamos aqui para ajudar você a atingir seus objetivos na academia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Plano de nutrição saudável</h4>
                    <p>Nutrir o corpo com alimentos nutritivos é um passo essencial para alcançar uma saúde ótima e sustentável.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Treinamento profissional</h4>
                    <p>Um plano de treinamento profissional é crucial para orientar o crescimento e aprimoramento de
                habilidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Exclusivo para suas necessidades</h4>
                    <p>Nossa academia oferece um ambiente exclusivo e dedicado, projetado para atender às suas necessidades individuais.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->    
    
<!-- About US Section Begin -->
    <section class="aboutus-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="about-video set-bg" data-setbg="../img/sobre-nós/academia2.webp">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <span>SOBRE-NÓS</span>
                        </div>
                        <div class="at-desc">
                            <p class="sb">Localizada a 450m da Praça da Paróquia,a Dynamic Academia é a escolha certa 
                            para quem procura uma academia completa. </p>
                        </div>
                        <div class="at-desc">
                            <p class="sb">Oferece musculação e funcional, com uma equipe pronta para te ajudar a alcançar seus objetivos.
                             Não é necessário agendamento para participar das atividades. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- About US Section End -->

<!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="../img/banner-bg.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>INSCREVA-SE AGORA PARA OBTER MAIS OFERTAS.</h2>
                        <div class="bt-tips">ONDE SAÚDE, BELEZA E FITNESS SE ENCONTRAM.</div>
                        <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" class="primary-btn  btn-normal">INSCREVER-SE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Banner Section End -->