@{
    ViewData["Title"] = "Sobre Nós";
}

 <section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="../img/breadcrumb-bg1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <h1 class="tl">SOBRE <strong>NÓS</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Início da seção escolhas -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span></span>
                    <h2>AUMENTE SEUS LIMITES</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Equipamentos modernos</h4>
                    <p>Dos pesos às máquinas, estamos aqui para ajudar você a atingir seus objetivos na academia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Plano de nutrição saudável</h4>
                    <p>Nutrir o corpo com alimentos nutritivos é um passo essencial para alcançar uma saúde ótima e sustentável.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Treinamento profissional</h4>
                    <p>Um plano de treinamento profissional é crucial para orientar o crescimento e aprimoramento de
                habilidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Exclusivo para você</h4>
                    <p>Nossa academia oferece um ambiente exclusivo e dedicado, projetado para atender às suas necessidades.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção Escolha -->
    
<!-- Inicio da Seção Sobre os Nós -->
    <section class="aboutus-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="about-video set-bg" data-setbg="../img/sobre-nós/sobre-nos.jpeg">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <span>SOBRE-NÓS</span>
                        </div>
                        <div class="at-desc">
                            <p class="sb">Localizada a uma curta distância de 450 metros da Praça da Paróquia, a Dynamic Academia se destaca como a escolha definitiva para quem busca uma experiência completa de academia. Com uma gama abrangente de serviços, incluindo musculação e treinamento funcional, nossa equipe altamente qualificada está sempre à disposição para orientá-lo e ajudá-lo a atingir seus objetivos de forma eficaz e segura.</p>
                        </div>
                        <div class="at-desc">
                            <p class="sb"> Além disso, valorizamos a conveniência dos nossos clientes, não exigindo agendamento prévio para participar das atividades. Venha se juntar a nós e descubra o caminho para uma vida mais saudável e ativa na Dynamic Academia.</p>
                        </div></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Fim da Seção Sobre os Nós -->

<!-- Seção Beneficíos -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>BENEFÍCIOS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="fa fa-shopping-cart fa-3x"></span>
                    <h4>LOJA</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="fa fa-user-md fa-3x"></span>
                    <h4>NUTRICIONISTA</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="fa fa-user fa-3x"></span>
                    <h4>TREINADOR</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="fa fa-wifi fa-3x"></span>
                    <h4>WIFI</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Seção Beneficíos -->

<!-- Início da seção do banner -->    
<section class="banner-section set-bg" data-setbg="../img/banner-bg.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>INSCREVA-SE AGORA PARA OBTER OS SEUS RESULTADOS.</h2>
                        <div class="bt-tips">ONDE SAÚDE, BELEZA E FITNESS SE ENCONTRAM.</div>
                        <a href="https://api.whatsapp.com/send/?phone=5514998948829&text&type=phone_number&app_absent=0" target="_blank" class="primary-btn  btn-normal">INSCREVER-SE</a>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Início da seção Perguntas Frequentes -->

<div class="faq-container">
        <h1 class="pf">Perguntas Frequentes</h1>
        <div class="faq-item">
            <button class="faq-question">
                <span>Quais são os horários de funcionamento da academia?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Nossa academia funciona de segunda a sexta das 5:30h às 12h, e das 13:30h às 22h, sábados das 8h às 12h .</p>
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                <span>Quais são os planos de adesão disponíveis?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Oferecemos planos mensais e aulas avulsas. Consulte a página de serviços para mais detalhes.</p>
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                <span>A academia oferece aulas experimentais?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Sim, oferecemos uma aula experimental gratuita para novos membros. Entre em contato para agendar a sua.</p>
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                <span>Quais modalidades de pagamento são aceitas?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Aceitamos cartões de crédito, débito e pagamentos via PIX.</p>
            </div>
        </div>
                <div class="faq-item">
            <button class="faq-question">
                <span>Preciso pagar taxa de cancelamento?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Não cobramos nenhum tipo de taxa.</p>
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                <span>Aceita Gympass?</span>
                <span class="arrow">▼</span>
            </button>
            <div class="faq-answer">
                <p class="ppf">Sim. Aceitamos Gympass Empresarial.</p>
            </div>
        </div>
    </div>

<script>
    document.querySelectorAll('.faq-question').forEach(button => {
        button.addEventListener('click', () => {
            const answer = button.nextElementSibling;
            const arrow = button.querySelector('.arrow');
            answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
            arrow.textContent = arrow.textContent === '▼' ? '▲' : '▼';
        });
    });
</script>